#root {
    width: 1017px;
    margin: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    /* fallback height */
    min-height:100vh;

    /* new small viewport height for modern browsers */
    min-height:100svh;
}

main {
}

footer {
    text-align: center;
    margin: 10px auto;
}
