<div class="relative overflow-x-auto">
    <table class="data-table">
        <thead class="data-head"></thead>
        <tbody></tbody>
    </table>
</div>

<template id="template-row">
    <tr class="data-row"></tr>
</template>

<template id="template-head-column">
    <th scope="col" class="data-head-item"></th>
</template>

<template id="template-head-row">
    <th scope="row" class="data-head-row"></th>
</template>

<template id="template-row-column">
    <td class="data-col-item"></td>
</template>